# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-store/
.env # Environment variables

# Build output

build/
out/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log